* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e5f5d3;
  text-align: center;
  font-family: Teko, sans-serif;
  font-size: 1.3rem;
  
}

.wrapper {
  position: relative;
  display: inline-block;
  margin-top: 20vh;
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: #9acfe7;
  padding: 1rem 0.5rem;
  height: 23rem;
  width: 23rem;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#ouput {
  width: 1rem;
  height: auto;
}

.wrapper, h1 {
  margin-bottom: 2rem;
  background-color: #9acfe7;
}

.wrapper, header {
  margin-bottom: 2rem;
  position: relative;
  background-color: #9acfe7;
}
#input {
  display: block;
  margin: auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  width: 20rem;
  height: 3rem;
  border: none;
}

button {
  background-color: rgb(235, 173, 57);
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
  margin-top: 1rem;
  text-transform: uppercase;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.25s;
  font-family: Roboto,sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
}
button:hover {
  background-color: rgb(228, 230, 93);
  color: rgba(0, 60, 255, 0.74);
}
button:active {
  background-color: rgb(190, 117, 33);
}